body
{
    color: #212121;
}

hr
{
    color: #BDBDBD;
}

footer
{
    position: relative;
    left: 0;
    bottom: 0;
    padding: 5px;
    width: 100%;
    background-color: #d4d4d4;
    color: black;
    text-align: center;
}

.title
{
    background-color: #CFD8DC;
    text-align: center;
}

.button-div
{
    text-align: center;
}

.info-btn
{
    top: 50%;
}

.box-title
{
    text-align: center;
}

.info-box
{
    border-radius: 3%;
    background-color: #CFD8DC;
    padding: 20px;
    margin: 8px;
    text-align: justify;
}

#main-header
{
    background-color: #455A64;
    overflow: hidden;

}

#main-header ul
{
    float: right;
    list-style-type: none;
}

#main-header li
{
    float: left;
    margin-top: 10px;
}

#main-header a
{
    color: #FFFFFF;
    text-align: center;
    padding: 15px 12px;
    text-decoration: none;
    font-size: 17px;
}

#main-header a:hover
{
    background-color: #CFD8DC;
    color: #757575;
}

#main-title
{
    text-align: center;
    padding: 10px;
}
